<div class="contact-container">
  <div class="contact-header">
    <a class="contact-name" routerLink="{{specContact.id}}">{{specContact.name}}</a>
    <div (click)="deleteContact(contact)" class="delete-button">delete</div>
    <div (click)="toggleEdit()" class="edit-button">edit</div>
  </div>
  <div class="contact-entry">
    <div class="contact-detail">Mobile: {{specContact.mobile}}</div>
    <div class="contact-detail">Work: {{specContact.work}}</div>
    <div class="contact-detail">Home: {{specContact.home}}</div>
    <div class="contact-detail">Email: {{specContact.email}}</div>
    <div class="contact-detail">Address: {{specContact.address}}</div>
    <div class="contact-detail"> Github: {{specContact.github}}</div>
    <div class="contact-detail">Instagram: {{specContact.instagram}}</div>
    <div class="contact-detail">Twitter: {{specContact.twitter}}</div>
  </div>
</div>

<!-- Editing body -->
<div class="edit-contact-form" *ngIf="this.isEdit">
  <div class="x-div" (click)="toggleEdit()">ⓧ</div>
  <form class="edit-form">
    <label for="name">Name:</label>
    <input type="text" name="name" [(ngModel)]="editFormData.name" placeholder="{{this.specContact.name}}">
    <label for="address">Address:</label>
    <input type="text" name="address" [(ngModel)]="editFormData.address">
    <label for="mobile">Mobile;</label>
    <input type="text" name="mobile" [(ngModel)]="editFormData.mobile">
    <label for="work">Work:</label>
    <input type="text" name="work" [(ngModel)]="editFormData.work">
    <label for="home">Home:</label>
    <input type="text" name="home" [(ngModel)]="editFormData.home">
    <label for="email">Email:</label>
    <input type="text" name="email" [(ngModel)]="editFormData.email">
    <label for="twitter">Twitter:</label>
    <input type="text" name="twitter" [(ngModel)]="editFormData.twitter">
    <label for="instagram">Instagram:</label>
    <input type="text" name="instagram" [(ngModel)]="editFormData.instagram">
    <label for="github">Github:</label>
    <input type="text" name="github" [(ngModel)]="editFormData.github">
    <div class="buttons">
      <button (click)="editContact(specContact)">Submit</button>
    </div>
  </form>
</div>