<div class="header-container">
  <div class="header">{{user.username}}'s profile</div>
  <div class="edit-profile-button" (click)="toggleEdit()">Edit Profile</div>
</div>
<div class="profile-body-container" *ngIf="!this.isEdit">
  <div class="detail ">Name: {{userProfile.name}}</div>
  <div class="detail ">Email: {{userProfile.email}}</div>
  <div class="detail ">Address: {{userProfile.address}}</div>
</div>
<div *ngIf="this.isEdit">
  <form class="edit-form-container" action="">
    <div class="input-group">
      <label for="name">Name:</label>
      <input type="text" name="name" [(ngModel)]="editProfileFormData.name">
    </div>
    <div class="input-group">
      <label for="email">Email:</label>
      <input type="text" name="email" [(ngModel)]="editProfileFormData.email">
    </div>
    <div class="input-group">
      <label for="address ">Address:</label>
      <input type="text" name="address" [(ngModel)]="editProfileFormData.address">
    </div>
    <button class="submit" (click)="editProfile(userProfile, user.id)">Apply Changes</button>
  </form>
</div>