<div>
  <h1>
    Register Page
  </h1>
</div>

<div class="login-container" *ngIf="!isLoggedIn()">
  <form>
    <input type="text" name="username" placeholder="username" [(ngModel)]="registerFormData.username">
    <input type="text" name="name" placeholder="name" [(ngModel)]="registerFormData.name">
    <input type="text" name="email" placeholder="email" [(ngModel)]="registerFormData.email">
    <input type="text" name="address" placeholder="address" [(ngModel)]="registerFormData.address">
    <input type="text" name="password" placeholder="password" [(ngModel)]="registerFormData.password">


    <button class="btn" (click)="register()">Register</button>

    {{ registerFormData | json}}
  </form>
</div>